/* container */
.gpt3__article {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: #042c54;
  box-shadow: 0 0 20px rgba(0, 254, 170, 0.7);
}
/* image container */
.gpt3__article-image {
  width: 100%;
  height: 100%;
  background: var(--color-footer);
}
/* image */
.gpt3__article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* content container */
.gpt3__article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}
/* date */
.gpt3__article-content p {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  color: white;
}
/* title */
.gpt3__article-content h3 {
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 800;
  line-height: 30px;
  color: white;
  margin-bottom: 5rem;
}
/* read full article */
.gpt3__article-content p:last-child {
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  color: white;
  cursor: pointer;
}

/* mobile screen(decrease title size) */
@media screen and (max-width: 550px) {
  .gpt3__article-content h3 {
    font-size: 16px;
    line-height: 25px;
  }
}
